<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet">
    <script src="script.js"></script>
</head>
<body>
<div class="main-container">
    <div class="list-container">
        <div class="list" id="local-tree">
        </div>
        <button class="fetch" id="copyNodeButton"><<<</button>
        <div class="list" id="remote-tree">
        </div>
    </div>
    <div class="button-container">
        <div>
            <button id="addNodeButton">+</button>
            <button id="deleteNodeButton">-</button>
            <button id="editNodeButton">edit</button>
        </div>
        <div class="button-list">
            <button id="applyButton">Apply</button>
            <button id="resetButton">Reset</button>
        </div>
    </div>
</div>
</body>
</html>